.clients-list {
  display: flex;

  flex-wrap: wrap;

  justify-content: center;

  gap: 30px;

  color: inherit;

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.clients-list__item {
  flex-basis: calc(100% / 2 - 15px);

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc((100% - 2 * 30px) / 3);
  }
}

.clients-list__link {
  display: flex;

  border: 1px solid #afb1b8;
  border-radius: 4px;

  height: 92px;
  justify-content: center;
  align-items: center;
  color: var(--color-icon);

  transition-property: color, border;
  transition-duration: var(--timing-duration);
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
  }
}

.clients-list__icon {
  fill: currentColor;
}
