.hero {
  max-width: 1600px;
  margin: 0 auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/overlay/bg-mobile.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: var(--background-color-overlay);
  text-align: center;

  @media screen and (min-width: 768px) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/overlay/bg-tablet.jpg);
  }

  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
          url(../images/overlay/bg-desktop.jpg);
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width:767px),
screen and (min-resolution: 192dpi) and (max-width:767px),
screen and (min-resolution:2dppx) and (max-width:767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/overlay/bg-mobile@2x.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width:768px),
screen and (min-resolution: 192dpi) and (min-width:768px),
screen and (min-resolution:2dppx) and (min-width:768px) 
{
  .hero {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
          url(../images/overlay/bg-tablet@2x.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width:1200px),
screen and (min-resolution: 192dpi) and (min-width:1200px),
screen and (min-resolution:2dppx) and (min-width:1200px)
{
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/overlay/bg-desktop@2x.jpg);
  }
}

.hero__title {
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  max-width: 360px;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  padding: 10px 32px;
  min-width: 200px;

  background-color: var(--accent-color);
  color: var(--primary-white-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  border-radius: 4px;
  border: none;

  transition-property: background-color, box-shadow;
  transition-duration: var(--timing-duration);
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--color-hover-button);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
