.team-section {
  padding-top: 60px;
  background-color: var(--background-color-section);

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
  }
}

.team-list {
  display: flex;
  flex-direction: column;

  background-color: #f5f4fa;
  gap: 30px;

  line-height: 1.19;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-direction: row;

    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.team-list__item {
  width: 100%;

  background-color: var(--primary-white-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-wrap: wrap;
    width: 354px;
  }
}

.team__image {
  width: 100%;
  padding-bottom: 30px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 354px;
  }
}

.team__subtitle {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  text-align: center;
}

.team__text {
  margin-bottom: 16px;

  color: var(--primary-text-color);

  font-size: 16px;
  text-align: center;
}
