.join__title {
  color: var(--primary-white-color);

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.media__link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: var(--primary-white-color);
  background-color: var(--background-icon-footer);
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: var(--timing-duration);
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

@media screen and (max-width: 767px) {
  .media-footer-list {
    margin-bottom: 60px;
  }
}
