.modal-text {
  display: block;

  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.label {
  display: block;

  font-size: 12px;
  line-height: 1.16;

  letter-spacing: 0.01em;

  color: var(--primary-text-color);
}

.input-form {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: var(--timing-duration);
  transition-timing-function: var(--timing-function);

  &:focus + .icon-form {
    border-color: var(--accent-color);
    fill: var(--accent-color);
  }
  &:focus {
    border-color: var(--accent-color);
    outline: none;
  }
}

.label-wrapper {
  position: relative;

  display: block;

  margin-bottom: 10px;
}

.icon-form {
  position: absolute;

  left: 15px;
  top: 30px;

  transition-property: fill;
  transition-duration: var(--timing-duration);
  transition-timing-function: var(--timing-function);
}

.comment-label {
  display: block;
  margin-bottom: 20px;
}

.comment-textarea {
  padding: 12px 16px;

  width: 100%;
  height: 120px;

  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.text-policy {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.link-policy {
  color: var(--accent-color);
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon-checkbox {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;

  border: 2px solid #2a2a2a;
  border-radius: 4px;

  .checkbox:checked + & {
    background-color: var(--accent-color);
    border-color: transparent;
    background-image: url(../images/icons/full-check.svg);
    background-size: contain;
    background-origin: border-box;
  }
}

.text-placeholder {
  display: block;

  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;

  letter-spacing: 0.01em;

  color: var(--primary-text-color);
}

.policy-label {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 30px;
}

.button-send {
  display: block;
}

.text-button {
  margin-right: 0;
}
