:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --color-hover-button: #188ce8;
  --primary-white-color: #ffffff;
  --background-color-section: #f5f4fa;
  --color-icon: #afb1b8;
  --main-font-size-14px: 14px;
  --background-color-overlay: #c4c4c4;
  --background-icon-footer: rgba(255, 255, 255, 0.1);
  --background-footer: #2f303a;
  --color-address-link-footer: rgba(255, 255, 255, 0.6);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --timing-duration: 250ms;
}
